<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center>
      <h1>Name: <%= @contact.name %></h1>
      <h3>E-mail: <%= @contact.email %></h3>
      <h3>MEssage: <%= @contact.message %></h3>
    </center>
  </body>
</html>