



<!-- Button trigger modal -->
<a data-toggle="modal" data-target="#myModal">
  Special thanks
</a>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title special" id="myModalLabel">Special Thanks</h4>
      </div>
      <div class="modal-body">         
        <% @posts.each do |post| %>
          <div class="row">
            <div class="col-md-2"></div>  
            <div class="col-md-8">
              <center>
                <h3><%= post.name %></h3>
              <td><%= image_tag post.image_url(:thumb),class: "img-circle img-responsive" %></td>
              </center>  
              <h5 class="text-info"><i><%= post.description%></i></h5>
            </div>  
            <div class="col-md-2"></div>
          </div>
        <%end%> 
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>       
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
  $('#myModal').modal('show');
})
</script>